NEXT_PUBLIC_SUPABASE_URL=sua_url_supabase
NEXT_PUBLIC_SUPABASE_ANON_KEY=sua_anon_key
SUPABASE_SERVICE_ROLE_KEY=sua_service_role_key
NEXT_PUBLIC_WHATSAPP_NUMBER=5531988362602
NEXT_PUBLIC_SITE_URL=http://localhost:3000
